[Unit]
Description=QEMU machine %I
After=network.target

[Service]
ExecStart=/usr/bin/qemu-scripts-run -m %I
User=kvm
Group=kvm
Restart=on-success

[Install]
WantedBy=multi-user.target
