/chroot
/scripts/bin/makechrootpkg
/scripts/etc/config.sh

src
pkg
*.pkg.tar.xz
*.src.tar.gz
*.tar.xz
*.tar.gz
*.log
PKGBUILD.bak

/mirror.cs.istu.ru.tar

/bacs/legacy/web/ads/
/bacs/legacy/web/bacs.web.legacy-git/
/bacs/legacy/web/contrib/
/bacs/legacy/web/PHPMailer/

/bacs/archive/bacs.archive-git/
/bacs/common/bacs.common-git/
/bacs/external/bacs.external-git/
/bacs/problem/bacs.problem-git/
/bacs/problem_plugins/single/bacs.problem.single-git/
/bacs/problems/bacs.problems-git/
/bacs/statement_provider/bacs.statement_provider-git/
/bacs/system/bacs.system-git/
/bacs/system_plugins/single/bacs.system.single-git/

/bunsan/broker/bunsan.broker-git/
/bunsan/cmake/bunsan.cmake-git/
/bunsan/common/bunsan.common-git/
/bunsan/common_python/python-bunsan.common-git/
/bunsan/crypto/bunsan.crypto-git/
/bunsan/curl/bunsan.curl-git/
/bunsan/dcs/bunsan.dcs-git/
/bunsan/pm/bunsan.pm-git/
/bunsan/pm_python/python-bunsan.pm-git/
/bunsan/process/bunsan.process-git/
/bunsan/protobuf/bunsan.protobuf-git/
/bunsan/rpc/bunsan.rpc-git/
/bunsan/test/bunsan.test-git/
/bunsan/utility/bunsan.utility-git/
/bunsan/web/bunsan.web-git/
/cppzmq/cppzmq-git/
/yandex-contest/common/yandex.contest.common-git/
/yandex-contest/invoker/yandex.contest.invoker-git/
/yandex-contest/system/yandex.contest.system-git/
/yandex-contest/invoker-flowctl-interactive/yandex.contest.invoker.flowctl.interactive-git/
/yandex-contest/invoker-flowctl-pipectl/yandex.contest.invoker.flowctl.pipectl-git/

/czmqpp-git/czmqpp-git/
/turtle/turtle-*.tar.bz2

/obnam/obnam-git/obnam-git/
/obnam/python2-cliapp-git/python2-cliapp-git/
/obnam/python2-larch-git/python2-larch-git/
/obnam/python2-tracing-git/python2-tracing-git/
/obnam/python2-ttystatus-git/python2-ttystatus-git/
