/chroot
/scripts/bin/makechrootpkg
/scripts/etc/config.sh

src
pkg
*.pkg.tar.xz
*.src.tar.gz
*.tar.xz
*.tar.gz
*.log

/mirror.cs.istu.ru.tar

/bacs/legacy/web/ads/
/bacs/legacy/web/bacs.web.legacy-git/
/bacs/legacy/web/contrib/
/bacs/legacy/web/PHPMailer/
/bunsan/bacs/archive/bunsan.bacs.archive-git/
/bunsan/bacs/common/bunsan.bacs.common-git/
/bunsan/bacs/external/bunsan.bacs.external-git/
/bunsan/bacs/problem/bunsan.bacs.problem-git/
/bunsan/bacs/problem_plugins/single/bunsan.bacs.problem.single-git/
/bunsan/bacs/problems/bunsan.bacs.problems-git/
/bunsan/bacs/statement_provider/bunsan.bacs.statement_provider-git/
/bunsan/bacs/system/bunsan.bacs.system-git/
/bunsan/broker/bunsan.broker-git/
/bunsan/cmake/bunsan.cmake-git/
/bunsan/common/bunsan.common-git/
/bunsan/common_python/python-bunsan.common-git/
/bunsan/crypto/bunsan.crypto-git/
/bunsan/curl/bunsan.curl-git/
/bunsan/dcs/bunsan.dcs-git/
/bunsan/pm/bunsan.pm-git/
/bunsan/pm_python/python-bunsan.pm-git/
/bunsan/process/bunsan.process-git/
/bunsan/protobuf/bunsan.protobuf-git/
/bunsan/testing/bunsan.testing-git/
/bunsan/utility/bunsan.utility-git/
/bunsan/web/bunsan.web-git/
/bunsan/worker/bunsan.worker-git/
/bunsan/worker_python/python-bunsan.worker-git/
/cppzmq/cppzmq-git/
/obnam/python2-cliapp-git/python2-cliapp-git/
/obnam/python2-larch-git/python2-larch-git/
/obnam/python2-tracing-git/python2-tracing-git/
/obnam/python2-ttystatus-git/python2-ttystatus-git/
/yandex-contest/common/yandex.contest.common-git/
/yandex-contest/invoker/yandex.contest.invoker-git/
/yandex-contest/system/yandex.contest.system-git/
/yandex-contest/invoker-flowctl-interactive/yandex.contest.invoker.flowctl.interactive-git/
/yandex-contest/invoker-flowctl-pipectl/yandex.contest.invoker.flowctl.pipectl-git/

/boost.process-svn/boost.process-svn/
/czmqpp-git/czmqpp-git/
/turtle/turtle-*.tar.bz2

/obnam/obnam-bzr/obnam-bzr/
/obnam/python2-cliapp-bzr/
/obnam/obnam-git/obnam-git/
