[Unit]
Description=QEMU machine %I
After=network.target

[Service]
ExecStart=/bin/sh -c 'exec /srv/kvm/%I/run.sh'
User=kvm
Group=kvm
Restart=on-success

[Install]
WantedBy=multi-user.target
