[Unit]
Description=QEMU machine %I
After=network.target

[Service]
ExecStart=/usr/bin/sudo -u kvm /srv/kvm/%I/run.sh
Restart=on-success

[Install]
WantedBy=multi-user.target
